<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"></head>

<body>
<nav th:replace="fragments/navigation-after-log :: nav-after-log"></nav>

<!-- Page Content -->
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <form th:object="${transactionForm}" th:action="@{/}" method="post">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Transaction</strong></h3></div>
                    <div class="panel-body">
                        <div>
                            <p>Current Amount</p>
                        </div>
                        <div>
                            <p th:text="${#numbers.formatDecimal(currentUser.amount,1,2)}"></p>
                        </div>
                        <div class="form-group">
                            <label>Transaction Type</label>
                            <select class="form-control" id="type" th:field="*{type}" required>
                                <option value="deposit">Deposit</option>
                                <option value="withdraw">Withdraw</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="amountString" class="form-control" id="amountString"
                                   name="amountString" placeholder="Amount to deposit or withdraw"
                                   th:field="*{amountString}" th:errorclass="is-invalid" required>
                            <p class="alert alert-danger" th:if="${#fields.hasErrors('amountString')}"
                               th:errors="*{amountString}">Incorrect data</p>
                        </div>
                        <button type="submit" class="btn btn-md btn-primary btn-block"
                                name="submitTransaction">Submit</button>
                    </div>
                </form>
                <form th:action="@{/}" method="post">
                    <div class="panel-heading"><h3 class="panel-title"><strong>Transaction History</strong></h3></div>
                    <div class="panel-body">
                        <table class="table table-striped text-center">
                            <thead th:if="${!#lists.isEmpty(allTransactions)}">
                            <tr>
                                <th class="text-center">UserName</th>
                                <th class="text-center">Operation</th>
                                <th class="text-center">Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <span th:if="${#lists.isEmpty(allTransactions)}">No transaction so far.</span>
                            <tr th:each="transaction: ${allTransactions}">
                                <td th:text="${transaction.userName}"/>
                                <td th:text="${transaction.type}"/>
                                <td th:text="${#numbers.formatDecimal(transaction.amount,1,2)}"/>
                            </tr>
                            </tbody>
                        </table>
                        <div th:if="${error}">
                            <div class="alert alert-danger" th:text="${error}">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-md btn-primary btn-block"
                                name="clearTransaction">Clear Transaction History</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>
</div>


<!-- Bootstrap core JavaScript -->
<span th:replace="fragments/footer :: footer"></span>

</body>

</html>
